<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ show_name | upper }} VIDEOS</title>
</head>
{% extends 'base.html' %}
<body>
    {%block content%}
        <br><br>
        <h2 style="color: white"><center>{{ show_name | upper }} VIDEOS</center></h2>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        {% for item in preview_videos %}
                            <div class="col-md-4">
                                <div class="card mb text-white bg-dark h-75">
                                    <img class="card-img-top" src="{{ url_for('static', filename=item.v_location + item.v_name) }}" alt="Card image cap" height="200" width="200">
                                    <div class="card-body mb">
                                        <h5 class="card-title"><center>{{ item.v_name }}</center></h5>
                                        <p align="center">
                                            <br><br><br>
                                            <a href="{{ url_for('video', category_videos = item.cat_name, video_name = item.v_name) }}" class="btn btn-primary">CLICK HERE</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>